:root {
    --color-main-green: #5CA192;
    --color-main-gray: #F6F6F6;
    --border-radius-mini: 15px
}

body {
    font-family: 'TT Norms';
    line-height: 1;
}

section {
    text-align: center;
    margin-top: 75px;
}

section > h2{
    margin-bottom: 40px;
}

p {
    margin: 1em 0;
}

a {
    color: lightseagreen;
}