.section-footer a {
    text-decoration: none;
    color: #fff;
}

.section-footer {
    font-family: "TT Norms";
    color: #fff;
}

.section-footer__top {
    background-color: #4A4A49;
}

.content-footer {
    padding: 40px 0 45px 0;
}


.footer-nav__list li {
    margin-bottom: 5px;
}

.footer-nav__panel-card:last-child {
    margin-top: 10px;
}

.footer-nav__panel-card img:first-child {
    margin-right: 15px;
}



/*-Для телефона в футере-*/

.phone_footer_blk {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    text-align: right;
    margin: auto 0;
}

.phone_footer_blk a {
    font-size: 36px;
    font-weight: bold;
}

.phone_footer_blk .btn {
    cursor: pointer;
    margin-left: auto;
}

.footer-phone_text-agree {
    font-size: 13px;
}

/*-Нижний ФУУТЕР-*/

.section-footer__bot {
    margin-top: 0px;
    padding: 20px 5px 7px 5px;
    background-color: #424241;
}

.section-footer__bot p {
    max-width: 1240px;
    margin: 0.8em auto;
    color: #fff;
    font-size: 10px;
    text-align: center;
}

.f_h {
    font-weight: 500;
    font-size: 22px;
}

@media (max-width: 1024px) {  

    .content-footer {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .phone_footer_blk {
        text-align:  left;
        margin-top:  20px;
    }

    .footer-nav__panel {
        width: 310px;
    }
}