.section-header {
    min-height: 600px;
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    position: relative;
    display: flex;
}

.logo {
    margin: auto 0;
}

.top_menu a{
    color: white;
    text-decoration: none;
}

.top_menu {
    color: white;
    display: flex;
    height: 100px;
    position: sticky;
    top:0;
    left: 0;
    z-index: 10000;
}

.bg_blk {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #5CA192;
    left: 0;
    top: 0;
    mix-blend-mode: multiply;
    z-index: 1;
}

.top_menu ._container{ 
    display: flex;
     justify-content: space-between;
     position: relative;
     z-index: 10;
}

/* Телефон в шапке */

.phone_head_blk a{
    font-size: 22px;
    font-weight: bold;
}

.phone_head_blk p{
    margin: 0;
}

.phone_head_blk {
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto 0;
}

/* Телефон в шапке */


.head_button_lnk {
    display: flex;
    margin: auto 0;
}

.head_button_lnk a:first-child{
    margin-right: 20px;
}

.head_button_lnk a{
    text-align: left;
    position: relative;
    padding-left:40px;
}

.head_button_lnk a:before{
    content: "";
    width:29px;
    height:29px;
    position: absolute;
    left:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.head_button_lnk .h_calc_btn::before{
    content:"";
    background-image: url(../img/icons/calk.svg);
}

.head_button_lnk .h_phone_btn::before{
    content:"";
    background-image: url(../img/icons/phone.svg);
}

.mobile_action {
    display: none;
}

.mobile_action  > *{
    margin-top: auto;
    margin-bottom: auto;
}

/* Бургер мобильного меню */

.burger {
    width:40px;
    height: 30px;
    justify-content: space-between;
    position: relative;
}

.burger .line{
    border: 1px solid white;
    position: absolute;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.burger .line:nth-child(2) {
    top: calc(50% - 1px);
}

.burger .line:first-child {
    top:0
}

.burger .line:last-child {
    top: 100%;
}


.burger.open .line:nth-child(2) {
    display: none;
}

.burger.open .line:first-child {
    transform: rotate(45deg);
    top: 50%;
}

.burger.open .line:last-child {
    transform: rotate(-45deg);
    top: 50%;
}

/* Бургер мобильного меню end*/


.mobile_phone_btn {
    width:30px;
    height: 40px;
    background-image: url(../img/icons/phone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
}


/* Контент баннера */

.header_content {
    color: white;
    margin: auto;
}

.header_content ._container{
    display: flex;
    line-height: 1.2;
}


.header_content ._container .text{
    text-align: left;
    flex: 1;
}

.header_content ._container .text h1{
    font-size: 48px;
}

.header_content ._container .text p{
    font-size: 28px;
}


.header_content ._container .form_blk{
    color: black;
    background-color: white;
    padding: 40px 50px;
    flex: 1;
    max-width: 470px;
    border-radius: var(--border-radius-big) 0 var(--border-radius-big) 0;
}

.header_content ._container .form_blk h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.header_content ._container .form_blk form { 
    margin-bottom: 20px;
}

.bn_form_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bn_form_wrapper label{
    width:44%;
}

.calc_price {
    font-weight: 500;
    font-size: 22px;
    color: var(--color-main-green);
}

.btn-send {
    margin-left: 10px;
}

.control_wrap {
    margin-top: 20px;
}

/* Контент баннера end */

@media (max-width: 1024px) { 
    .header_content ._container {
        flex-direction: column;
        margin-top: 20px;
    }
    .header_content ._container .form_blk {
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    .mobile_action {
        display: flex;
    }

    .phone_head_blk {
        display: none;
    }
 }

 @media (max-width: 680px) { 
    .header_content ._container .text h1 {
        font-size: 28px;
    }

    .header_content ._container .text p {
        font-size: 20px;
    }

    .phone_head_blk,
    .head_button_lnk {
        display: none;
    }

    .logo img {
        height: 40px;
    }

    .top_menu { 
        height: 70px;
    }

    .bn_form_wrapper label {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .btn-send {
        margin-left: 0;
        margin-top: 10px;
    }

    .calc_result .control_wrap .btn {
        width:100%;
    }

 }