.mobile_menu {
    position: fixed;
    width: 100%;
    height: calc(100% - 100px);
    background-color: white;
    top:100px;
    left: 0;
    z-index: 100000;
    display: none;
    transition: transform 0.4s ease-in-out;
}

.mobile_menu.open {
    display: flex;
}

@media (max-width: 680px) {
    .mobile_menu  {
        top: 70px;
        height: calc(100% - 70px);
    }
}
