.otd_usl_blk {
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
}

.otd_usl_blk .otd_usl {
    width: 32%;
    background-color: var(--color-main-gray);
    position: relative;
    padding: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}

.otd_usl_blk .otd_usl:first-child {
    border-top-left-radius: var(--border-radius-big);
}

.otd_usl_blk .otd_usl:nth-child(3) {
    border-top-right-radius: var(--border-radius-big);
}

.otd_usl_blk .otd_usl:nth-child(4) {
    border-bottom-left-radius: var(--border-radius-big);
}

.otd_usl_blk .otd_usl:last-child {
    border-bottom-right-radius: var(--border-radius-big);
}

.otd_usl_blk .otd_usl h3::before{
    content: "";
    width: 39px;
    height: 2px;
    background-color: var(--color-main-green);
    left: 0;
    bottom:-15px;
    position: absolute;
}

.otd_usl_blk .otd_usl h3{
    position: relative;
    font-size: 28px;
    font-weight: bold;
}



.otd_usl_blk .otd_usl .price{ 
    font-weight: bold;
    font-size: 28px;
}


.otd_usl_blk .otd_usl p{ 
    font-size: 18px;
}

.otd_usl_blk .otd_usl .photo {
    width: 125px;
    height: 285px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 125px 0 0 0;
    background-position: center;
    background-size: contain;
    background-repeat:  no-repeat;
}

.otd_usl_blk .otd_usl .photo[data-uslname="Ремонт полов"] {
    background-image: url(../img/usl_otd/rem_pol.jpg);
}

.otd_usl_blk .otd_usl .photo[data-uslname="Ремонт потолков"] {
    background-image: url(../img/usl_otd/rem_pot.jpg);
}

.otd_usl_blk .otd_usl .photo[data-uslname="Ремонт стен"] {
    background-image: url(../img/usl_otd/rem_sten.jpg);
}

.otd_usl_blk .otd_usl .photo[data-uslname="Демонтажные работы"] {
    background-image: url(../img/usl_otd/rem_demont.jpg);
}

.otd_usl_blk .otd_usl .photo[data-uslname="Сантехнические работы"] {
    background-image: url(../img/usl_otd/rem_santeh.jpg);
}

.otd_usl_blk .otd_usl .photo[data-uslname="Электромонтажные работы"] {
    background-image: url(../img/usl_otd/rem_electro.jpg);
}